$body-color: slateblue;
$slider-bg: #D2D2D2;

body {
  color: $body-color;
  font-family: sans-serif;
}

.slider-wrap {
  position: relative;
  padding: 8px 50px;
  display: inline-block;
  background: $slider-bg;
}

.slider-btn {
  height: 200px;
  background: $slider-bg;
  width: 50px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before{
    content: '';
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transform: rotate(45deg);
  }
  &:hover {
    background: darken($slider-bg, 2);
  }
}

.slider-btn-prev {
  @extend .slider-btn;
  left: 0;
  &:before{
    border-right: 0;
    border-top: 0;
    left: 5px;
  }
}

.slider-btn-next {
  @extend .slider-btn;
  right: 0;
  &:before{
    border-left: 0;
    border-bottom: 0;
    left: -5px;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  height: 200px;
}

.slider-in {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all .3s;
}

.slide {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  &.slide-active img{
    border: 3px solid yellow;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: 100%;
  }
}